papi-doctors/src/main/mule/get-ID-doctors-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="get:\doctors\(id):doctors-jaf-config">
		<http:request method="GET" doc:name="Request" doc:id="e56330a9-77df-4538-9662-4e521a5e2165" config-ref="HTTP_Request_configuration" path="/doctors/{id}">
			<http:uri-params ><![CDATA[#[{id:attributes.uriParams.id}]]]></http:uri-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var doctor={(payload)}
---
{
	fullname: doctor.fullname,
	specialty: doctor.specialty,
	mail: doctor.mail,
	adress: doctor.adress,
	country: doctor.country,
	age: doctor.age
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
