sapi-doctors/src/main/mule/get-doctors-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-doctors-system">
		<choice doc:name="Choice" doc:id="c85912b1-95b7-40c8-a389-8d9781b94d51" >
			<when expression='#[attributes.queryParams."minAge"==null or attributes.queryParams."maxAge"==null]'>
				<db:select doc:name="Select" doc:id="b190e89a-c1a4-4844-8dbc-29339d700a8f" config-ref="Database_Config">
					<db:sql ><![CDATA[select id,fullname,specialty,mail,adress,country,age from medicos;]]></db:sql>
				</db:select>
			</when>
			<when expression='#[attributes.queryParams."minAge"&gt;0 and attributes.queryParams."maxAge"&gt;0]'>
				<db:select doc:name="Select" doc:id="6efa05fb-57fc-4fe4-9ede-c286c9489a61" config-ref="Database_Config">
					<db:sql ><![CDATA[select id,fullname,specialty,mail,adress,country,age from medicos
where age between :minAge and :maxAge;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	minAge : attributes.queryParams."minAge",
	maxAge : attributes.queryParams."maxAge"
}]]]></db:input-parameters>
				</db:select>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="62b593ef-483d-4674-b22a-6da584b1a37b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message:"jaja"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
